build/
output/
*.ini
*.qm
src/adldap/samba/ndr_misc.c
src/adldap/samba/ndr_misc.h
src/adldap/samba/security_descriptor.c
src/adldap/samba/dom_sid.c
src/adldap/samba/dom_sid.h
src/adldap/samba/ndr_sec_helper.c
src/adldap/samba/ndr_security.c
src/adldap/samba/ndr_security.h
src/adldap/samba/libsmb_xattr.c

