[Desktop Entry]
Name=ADMC
Name[ar]=ADMC
Name[bg]=ADMC
Name[ca]=ADMC
Name[cs]=ADMC
Name[da]=ADMC
Name[de]=ADMC
Name[es]=ADMC
Name[fi]=ADMC
Name[fr]=ADMC
Name[fur]=ADMC
Name[he]=ADMC
Name[hu]=ADMC
Name[id]=ADMC
Name[it]=ADMC
Name[ko]=ADMC
Name[nl]=ADMC
Name[pl]=ADMC
Name[pt]=ADMC
Name[pt_BR]=ADMC
Name[ru]=ADMC
Name[sk]=ADMC
Name[sq]=ADMC
Name[sr]=ADMC
Name[sv]=ADMC
Name[tr]=ADMC
Name[uk]=ADMC
Name[zh_CN]=ADMC
Name[zh_TW]=ADMC
Comment=A tool for Active Directory administration
Comment[ar]=كتابة نسخ فيدروا الى الاقراص المحمولة
Comment[bg]=Инструмент за администриране на Active Directory
Comment[ca]=Una eina per a l'administració d'Active Directory
Comment[cs]=Nástroj pro správu služby Active Directory
Comment[da]=Et værktøj til Active Directory-administration
Comment[de]=Ein Tool für die Active Directory-Administration
Comment[es]=Una herramienta para la administración de ActiveDirectory
Comment[fi]=Työkalu Active Directory -hallintaan
Comment[fr]=Un outil pour l'administration d'Active Directory
Comment[fur]=
Comment[he]=כלי לניהול Active Directory
Comment[hu]=Eszköz az Active Directory adminisztrációhoz
Comment[id]=Alat untuk administrasi Direktori Aktif
Comment[it]=Uno strumento per l'amministrazione di Active Directory
Comment[ko]=
Comment[nl]=Een tool voor Active Directory-beheer
Comment[pl]=Narzędzie do administrowania Active Directory
Comment[pt]=Uma ferramenta para administração do Active Directory
Comment[pt_BR]=Uma ferramenta para administração do Active Directory
Comment[ru]=Инструмент для администрирования Active Directory
Comment[sk]=Nástroj na správu služby Active Directory
Comment[sq]=Një mjet për administrimin e Active Directory
Comment[sr]=Алат за администрацију Ацтиве Дирецтори
Comment[sv]=Ett verktyg för Active Directory-administration
Comment[tr]=Active Directory yönetimi için bir araç
Comment[uk]=Інструмент для адміністрування Active Directory
Comment[zh_CN]=用于 Active Directory 管理的工具
Comment[zh_TW]=用於 Active Directory 管理的工具
Icon=
Exec=admc
Terminal=false
Type=Application
Categories=System;

